:root {
    --primary: #ca11cac5;
    --dark: #000000;
    --light: #ffffff;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    background: url(fondo.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.text-primary {
    color: var(--primary) !important;
}

.btn {
    padding: 1rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--dark);
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-light {
    background-color: var(--light);
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--grey) !important;
}

.content {
    max-width: 700px;
}

section {
    height: 900px;
}

.step {
    display: flex;
    position: relative;
    justify-content: center;
}

.step::after {
    content: "";
    border-right: 1px solid var(--dark);
    opacity: .2;
    height: 60px;
    position: absolute;
    top: 34px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.call-to-action {
    border-radius: 50px;
}

.call-to-action img {
    max-width: 280px;
}

.cta-form {
    max-width: 480px;
}

.cta-form .form-control {
    min-height: 82px;
}

.cta-form .btn {
    top: 12px;
    right: 12px;
}

@media (max-width: 992px) {
    .navbar {
        position: relative !important;
    }
    section {
        height: unset;
    }
    .call-to-action img {
        max-width: 100%;
    }
    .w-75 {
        width: 100% !important;
    }
}
